[submodule "bash-it"]
	path = bash-it
	url = https://github.com/evandbrown/bash-it.git
[submodule "config/nvim/bundle/Vundle.vim"]
	path = config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
